<%= render 'shared/banner' %>
<div class="container container-about">
  <div class="row">
    <div class="col-3">
      <small>ABOUT US</small>
      <h2>All the <span>movies</span></h2>
      <p>Explore the best features our movie site has to offer. From the latest blockbusters to classic films, we've got something for everyone.</p>
    </div>
    <div class="col about-details">
      <div class="row">
        <div class="col-6 mt-2">
          <div class="mb-4">
            <h3>Extensive Movie Library</h3>
            <p>Discover a vast collection of movies across all genres and time periods, carefully curated for every type of movie lover.</p>
          </div>
          <div class="mb-4">
            <h3>Community Reviews</h3>
            <p>Read reviews and ratings from fellow movie enthusiasts to help you decide what to watch next.</p>
          </div>
        </div>
        <div class="col">
          <div class="mb-4">
            <h3>Create Custom Watch Lists</h3>
            <p>Organize your movie experience by creating custom watch lists to make your viewing sessions even more enjoyable.</p>
          </div>
          <div class="mb-4">
            <h3>Watchlist and Favorites</h3>
            <p>Create and manage your personal watchlist, so you can keep track of the movies you want to see.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% @latest_two_lists.each do |list| %>
    <div class="list-container">
      <div class="d-flex justify-content-between">
        <h2><%= list.name %></h2>
        <div>
          <%= link_to 'See All', list_path(list), class: "btn-sm" %>
        </div>
      </div>
      <div class="row">
        <% if list.bookmarks.present? %>
          <% list.bookmarks.first(4).each do |bookmark| %>
            <%= render 'shared/movie_card', movie: bookmark.movie %>
          <% end %>
        <% else %>
          <p>No movies found.</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="review-container">
    <div class="d-flex justify-content-center mb-2">
      <small>REVIEWS</small>
    </div>
    <h2 class="text-center">Latest <span>Reviews</span></h2>
    <div class="row">
      <% @latest_reviews.each do |review| %>
        <div class="col-md-4 mb-4">
          <div class="review-card">
            <i class="fa-solid fa-quote-left"></i>
            <div class="review-card-align">
              <h5><%= review.content %></h5>
              <p><strong>List:</strong> <%= review.list.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="all-lists-container">
    <div class="d-flex justify-content-center mb-2">
      <small>LISTS</small>
    </div>
    <h2 class="text-center">Latest <span>Lists</span></h2>
    <div class="row">
      <% @latest_lists.each do |list| %>
        <%= render 'shared/list_card', list: list %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <%= link_to 'See All The Lists', lists_path, class: "btn-xl"%>
    </div>
  </div>
</div>