<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col">
        <h1>WATCH <span>LIST</span></h1>
        <%= link_to 'All Movies List', lists_path,
        class: "btn-movies" %>
      </div>
    </div>
  </div>
</div>
<div class="container container-about">
  <div class="row">
    <div class="col-3">
      <small>ABOUT US</small>
      <h2>All the <span>movies</span></h2>
      <p>Explore the best features our movie site has to offer. From the latest blockbusters to classic films, we've got something for everyone.</p>
    </div>
    <div class="col about-details">
      <div class="row">
        <div class="col-6 mt-2">
          <div class="mb-4">
            <h3>Extensive Movie Library</h3>
            <p>Discover a vast collection of movies across all genres and time periods, carefully curated for every type of movie lover.</p>
          </div>
          <div class="mb-4">
            <h3>Community Reviews</h3>
            <p>Read reviews and ratings from fellow movie enthusiasts to help you decide what to watch next.</p>
          </div>
        </div>
        <div class="col">
          <div class="mb-4">
            <h3>Create Custom Watch Lists</h3>
            <p>Organize your movie experience by creating custom watch lists to make your viewing sessions even more enjoyable.</p>
          </div>
          <div class="mb-4">
            <h3>Watchlist and Favorites</h3>
            <p>Create and manage your personal watchlist, so you can keep track of the movies you want to see.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="list-container">
    <% action_list = List.find_by(name: 'Action') %>
    <div class="d-flex justify-content-between">
      <h2><%= action_list.name %></h2>
      <div>
        <%= link_to 'See All', list_path(action_list), class: "btn-movies-list"%>
      </div>
    </div>
    <div class="row">
      <% if action_list.present? %>
        <% action_list.bookmarks.first(4).each do |bookmark| %>
          <div class="col-3">
            <div class="movie-card">
              <img src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %>" class="img-fluid">
              <h4><%= bookmark.movie.title %></h4>
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <i class="fa-solid fa-star"></i>
                  <h3 class="ms-2"><%= bookmark.movie.rating %></h3>
                </div>
                <p><%= bookmark.movie.release_date %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No Action movies found.</p>
    <% end %>
  </div>
  <div class="list-container">
    <% comedy_list = List.find_by(name: 'Comedy') %>
    <div class="d-flex justify-content-between">
      <h2><%= comedy_list.name %></h2>
      <div>
        <%= link_to 'See All', list_path(comedy_list), class: "btn-movies-list"%>
      </div>
    </div>
    <div class="row">
      <% if comedy_list.present? %>
        <% comedy_list.bookmarks.first(4).each do |bookmark| %>
          <div class="col-3">
            <div class="movie-card">
              <img src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %>" class="img-fluid">
              <h4><%= bookmark.movie.title %></h4>
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <i class="fa-solid fa-star"></i>
                  <h3 class="ms-2"><%= bookmark.movie.rating %></h3>
                </div>
                <p><%= bookmark.movie.release_date %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No Comedy movies found.</p>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="review-container">
    <div class="d-flex justify-content-center mb-2">
      <small>REVIEWS</small>
    </div>
    <h2 class="text-center">Latest <span>Reviews</span></h2>
    <div class="review">
    </div>
  </div>
</div>