<div class="container show-container">
  <div class="d-flex justify-content-center mb-2">
    <small>LIST</small>
  </div>
  <h1 class="text-center">List Name: <span><%= @list.name %></span></h1>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <%= render 'shared/movie_show_card', bookmark: bookmark %>
    <% end %>
  </div>
  <div class="mt-5 show-container">
    <div class="row">
      <div class="col-8 me-4">
        <h2>Bookmarks</h2>
        <% @bookmarks.each do |b| %>
          <div class="border-bottom-b d-flex justify-content-between">
            <div class="d-flex">
              <i class="fa-solid fa-quote-left mx-2 quote"></i>
              <div>
                <p><%= b.comment %></p>
                <p class="p-small d-flex"><%= b.movie.title %></p>
              </div>
            </div>
            <div>
              <%= button_to list_bookmark_path(@list, b), method: :delete, data: { confirm: 'Are you sure?'}, class: "" do %>
                <i class="fa-solid fa-trash trash-can"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col d-flex align-items-center ms-2">
        <%= render 'shared/bookmark_movie_form'%>
      </div>
    </div>
  </div>
  <div class="reviews-show">
    <h2>List reviews</h2>
    <div class="row">
      <div class="col-8">
        <% @reviews.each do |review| %>
          <div class="row">
            <div class="d-flex">
              <% if review.rating.present? %>
                <% review.rating.times do %>
                  <i class="fa-solid fa-star star"></i>
                <% end %>
              <% else %>
                <i class="fa-regular fa-star star-line"></i>
              <% end %>
              <p class="date-review"><%= review.created_at.strftime("%d %B %Y") %></p>
            </div>
            <div class="d-flex justify-content-between">
              <p><%= review.content %></p>
              <div class="d-flex align-items-start">
                <%= button_to list_review_path(@list, review), method: :delete, data: { confirm: 'Are you sure?'}, class: "" do %>
                  <i class="fa-solid fa-trash trash-can"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col align-items-center ms-4">
        <div class="form-list">
          <h3>Add a new review</h3>
          <%= simple_form_for [@list, @review] do |f| %>
            <%= f.input :content, input_html: { class: "input-list" } %>
            <%= f.input :rating, placeholder: "Insert rating between ( 1 .. 5 )", input_html: { class: "input-list" } %>
            <%= f.submit "Post a Review", class: "btn btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-start mt-4 pt-4">
    <%= link_to 'Back', (request.referrer || lists_path), class: "btn-secondary-sm ms-2" %>
  </div>
</div>
