<div class="container">
  <div class="my-4">
    <h1>Search Results for '<%= @query %>'</h1>
  </div>
  <h2>Movies</h2>
  <div class="row border-bottom-100 mb-4">
    <% if @movies.any? %>
      <p>Found <strong><%= @movies.length %></strong> Movies</p>
      <% @movies.each do |movie| %>
        <%= render 'shared/movie_card', movie: movie %>
      <% end %>
    <% else %>
      <p class="my-4">No movies found.</p>
    <% end %>
  </div>
  <div class="row border-bottom-100 mb-4">
    <h2>Lists</h2>
    <% if @lists.any? %>
      <p>Found <strong><%= @lists.length %></strong> Lists</p>
      <% @lists.each do |list| %>
        <%= render 'shared/list_card', list: list %>
      <% end %>
    <% else %>
      <p class="my-4">No lists found.</p>
    <% end %>
  </div>
</div>