<div class="col-md-6 col-lg-3 mb-4">
  <%= link_to movie_path(bookmark.movie), class: 'movie-link' do %>
    <div class="movie-card row d-flex flex-column h-100">
      <img src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %>" class="img-fluid">
      <h3><%= bookmark.movie.title %></h3>
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <i class="fa-solid fa-star"></i>
          <h4 class="ms-2"><%= bookmark.movie.rating %></h4>
        </div>
        <p><%= bookmark.movie.release_date %></p>
      </div>
    <% end %>
    <div class="mt-auto">
      <i class="fa-solid fa-quote-left mx-2 quote"></i>
      <div class="d-flex align-items-center">
        <p class="bookmark-comment"><%= bookmark.comment %></p>
      </div>
      <div class="d-flex justify-content-end">
        <%= button_to list_bookmark_path(@list, bookmark), method: :delete, data: { confirm: 'Are you sure?'}, class: "" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>