<nav class="navbar navbar-expand-lg bg-dark fixed-top border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <i class="fa-solid fa-film navbar-logo"></i>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Lists', lists_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to 'Add New List', new_list_path, class: "nav-link" %>
        </li>
        <!-- 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add new
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'Add New List', new_list_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        -->
      </ul>
      <form class="d-flex col-md-6 col-lg-4 col-10" role="search" action="<%= search_path %>" method="get">
        <input class="form-control me-2" type="search" placeholder="Search Movie or List" aria-label="Search" name="query">
        <button class="btn btn-search" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
